<div class="container">
    <h1>Stories</h1>
    <div id="v-app">
      <table class="table table-striped">
        <tr>
          <th>#</th>
          <th>Plot</th>
          <th>Writer</th>
          <th>Upvotes</th>
          <th>Actions</th>
        </tr>
        <tr *ngFor="let story of stories" is="story">
          <td>
            {{story.id}}
          </td>
          <td class="col-md-6">
            <input *ngIf="story.editing" id="plot" name="plot" required minlength="4" [(ngModel)]="story.plot" class="form-control" #name="ngModel" /> {{story.plot}}
  <!--<div *ngIf="plot.invalid && (plot.dirty || plot.touched)" class="alert alert-danger">
  
  <div *ngIf="plot.errors.required">
      Name is required.
    </div>
  <div *ngIf="plot.errors.minlength">
      Name must be at least 4 characters long.
    </div>
  <div *ngIf="plot.errors.forbiddenName">
      Name cannot be Bob.
    </div>
  
  </div> -->
          </td>
          <td>
            <input *ngIf="story.editing" [(ngModel)]="story.writer" required minlength="4" class="form-control" #name="ngModel" /> {{story.writer}}
  
          </td>
          <td>
            {{story.upvotes}}
          </td>
          <td>
            <div class="btn-group" *ngIf="!story.editing">
              <button (click)="upvoteStory(story)" class="btn btn-primary">Upvote</button>
              <button (click)="editStory(story)" class="btn btn-default">Edit</button>
              <button (click)="deleteStory(story)" class="btn btn-danger">Delete</button>
            </div>
            <div class="btn-group" *ngIf="story.editing">
              <!--If the story is taken from the db then it will have an id-->
              <button *ngIf="story.id" class="btn btn-primary" (click)="updateStory(story)">Update Story
              </button>
              <!--If the story is new we want to store it-->
              <button *ngIf="!story.id" class="btn btn-success" (click)="storeStory(story)">Save New Story</button>
              <!--Always show cancel-->
              <button (click)="cancel(story)" class="btn btn-default">Cancel</button>
            </div>
          </td>
        </tr>
        <p class="lead">Here's a list of all your stories.
          <button (click)="createStory()" class="btn btn-primary">Add a new one?</button>
        </p>
        <pre>{{ stories | json }}</pre>
      </table>
    </div>
  </div>